{{#if message}}
  <p style="background-color: red">{{message}}</p>
{{/if}}

<form action="/create" method="post" enctype="multipart/form-data">
    <div class="formContainer">
      <div class="addFoodTitle">add food</div>

      <div class="inputContainer">
        <div class="photo">
          <label for="file-upload" class="customFileButton">
              <div>add photo</div>
          </label>
          <input id="file-upload" type="file" name="foodpic"/>
        </div>

        <div class="text">
          <div class="form-group">
              <div class="foodInfo foodName">name</div>
              <input type="text" name="name">
          </div>
          <div class="form-group">
              <div class="foodInfo foodDescription">description</div>
              <input type="text" name="description">
          </div>
          <div class="form-group">
              <div class="foodInfo foodInputDate">date</div>
              <input type="text" name="date" value="{{moment format="MM-DD-YYYY HH:mm:ss"}}">
          </div>

          <button class="foodInfo submitButton" type="submit">submit</button>
        </div>

      </div>

    </div>
</form>

<script type="text/javascript">
  function handleFiles(iFile) {
    var path = iFile.value;
    console.log('upload worked');
    // console.log(iFile);
    // console.log(path);
  }

  function readSingleFile(evt) {
    var f = evt.target.files[0]; //Retrieve the first (and only!) File from the FileList object
    if (f) {
      var r = new FileReader();
      r.onload = function(e) {
        var contents = e.target.result;
        alert( "Got the file.n"
              +"name: " + f.name + "n"
              +"type: " + f.type + "n"
              +"size: " + f.size + " bytesn"
              + "starts with: " + contents.substr(1, contents.indexOf("n"))
        );
      }
      r.readAsText(f);
    } // read uploaded file
    else {
      alert("Failed to load file");
    }
  }

  // document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
  </script>
