<!DOCTYPE html>
<html lang="en">
<head>
    <title>FREEdge</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1.0001, maximum-scale=1.0001, initial-scale=1.0001, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="../../js/zenscroll-min.js"></script>
    <script type="text/javascript">
        function OpenLink(theLink){ window.location.href = theLink.href; } // fixes mobile app link problem
    </script>
    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>
    <div class="name">FREEDGE</div>
    <div class="bio">NYU's Smart Community Sharing Fridge</div>
      <div id="main">
        {{{body}}}
      </div>
  </body>
</html>
